:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  color: var(--gray-950);
}

.card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: var(--white);
  border-radius: 20px;
  padding: 24px;
  margin: 0 20px;
  width: 327px;
  max-width: 100%;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px var(--gray-950);
}

.illustration {
  margin-bottom: 24px;
}

.illustration img {
  width: 100%;
  border-radius: 10px;
}

.header {
  font-size: 12px;
  margin-bottom: 12px;
}

.tag {
  background-color: var(--yellow);
  padding: 4px 12px;
  font-weight: 800;
  border-radius: 4px;
  margin-bottom: 12px;
  display: inline-block;
  font-size: 12px;
}

.date {
  font-weight: 500;
  font-size: 12px;
}

.text {
  margin-bottom: 24px;
}

.text h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 12px;
}

.text h2:hover,
.text h2:active,
.text h2:focus {
  color: var(--yellow);
  cursor: pointer;
}

.text p {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-500);
}

.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar img {
  width: 32px;
}

.avatar figcaption {
  font-size: 14px;
  font-weight: 800;
  margin-left: 12px;
}

.avatar figcaption:hover,
.avatar figcaption:active,
.avatar figcaption:focus {
  color: var(--yellow);
  cursor: pointer;
}

@media only screen and (min-width: 376px) {
  section {
    width: 384px;
  }

  .tag {
    font-size: 14px;
  }

  .date {
    font-size: 14px;
  }

  .text h2 {
    font-size: 24px;
  }

  .text p {
    font-size: 16px;
  }
}